.todo__item span {
    cursor: pointer;
}

.todo__item--pending {
    background-color: #FEB281;
}

.todo__item--progress {
    background-color: #ECF9F2;
}

.todo__item--finished {
    background-color: darkseagreen;
    color: darkgreen;
    position: relative;
}

.todo__item--finished::before {
    background: darkgreen;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-top: solid 1px darkgreen;
    content: "";
    height: 2px;
    left: 1%;
    position: absolute;
    top: 26px;
    width: 98%;
    z-index: 1;
}

[class~='ant-col']:nth-child(1) {
    padding-top: 13px;
}