.ant-form [class~='ant-form-item'] {
    border: none;
    margin-bottom: 0;
    margin-right: 10px;
}

[class~='ant-row'] {
    background: none;
}
.ant-form [class~='ant-form-item-row'], .ant-form [class~='ant-col'] {
    border: none;
}
.ant-form [class~='ant-form-item'] button {
    margin-right: 10px;
}
.form__container--modal {
    background: white;
    box-shadow: 0px 0px 5px 3px rgb(54 0 23 / 50%);
    left: -40px;
    padding: 10px;
    position: absolute;
    top: -50px;
    width: 440px;
    z-index: 10;
}
